<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Log everything in the com.rosedine.rosedine package at DEBUG level -->
    <logger name="com.rosedine.rosedine" level="DEBUG"/>

    <!-- Optionally, you can set specific loggers to different levels -->
    <logger name="org.springframework.jdbc.core" level="DEBUG"/>
</configuration>